@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.profile-card {
    background-color: transparent !important;
}

.profile-image {
    border-radius: 0px;
}

.inner-shadow {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
}

.card-parent {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}

.bottom-div {
    margin-top: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th {
    background-color: var(--mud-palette-background);
    color: var(--mud-palette-text);
    padding: 10px;
    text-align: left;
    border: 1px solid var(--mud-palette-lines-default);
}

tr:nth-child(even) {
    background-color: var(--mud-palette-background);
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--mud-palette-lines-default);
}

tr:hover {
    background-color: var(--mud-palette-lines-default);
}

tr:first-child td {
    border-top: none;
}

/* --- MarkDown Viewer --- */

.markup-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.markup-container h1:first-of-type {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

    .markup-container h1:first-of-type::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: var(--mud-palette-background);
        width: 100%;
        margin-top: 100px;
        margin-bottom: -10px;
    }

.markup-container h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.markup-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.markup-container ul li {
    font-size: 1rem;
    margin-bottom: 1rem;
}
